[submodule "external/d3d8to9"]
	path = external/d3d8to9
	url = https://github.com/crosire/d3d8to9
	branch = main
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/ThirteenAG/injector
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis
[submodule "external/Hooking.Patterns"]
	path = external/Hooking.Patterns
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "external/miniz"]
	path = external/miniz
	url = https://github.com/richgel999/miniz
