[submodule "external/d3d8to9"]
	path = external/d3d8to9
	url = https://github.com/crosire/d3d8to9
	branch = main
[submodule "external/MemoryModule"]
	path = external/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "external/minidx9"]
	path = external/minidx9
	url = https://github.com/hrydgard/minidx9
