version: 4.{build}
branches:
  only:
  - master
skip_tags: true
image: Visual Studio 2022
configuration: Release
init:
- ps: "if (-not (Test-Path env:DXSDK_DIR)) \n{\nStart-FileDownload 'https://download.microsoft.com/download/A/E/7/AE743F1F-632B-4809-87A9-AA1BB3458E31/DXSDK_Jun10.exe' -FileName 'C:\\DXSDK_Jun10.exe'\nStart-FileDownload 'https://raw.githubusercontent.com/chocolatey/choco/master/src/chocolatey.resources/redirects/RefreshEnv.cmd' -FileName 'C:\\RefreshEnv.cmd'\nStart-Process \"C:\\DXSDK_Jun10.exe\" \"/F /S /O /U\" -NoNewWindow -Wait\nC:\\RefreshEnv.cmd\n}"
install:
- cmd: >-
    git submodule update --init --recursive

    premake5.bat
build:
  project: build/Ultimate-ASI-Loader-Win32.sln
  verbosity: minimal
before_package:
- cmd: msbuild.exe build/Ultimate-ASI-Loader-x64.sln /t:Build /p:Configuration=Release;Platform=x64
after_build:
- cmd: release.bat
artifacts:
- path: bin\Ultimate-ASI-Loader.zip
  name: Ultimate-ASI-Loader.zip
- path: bin\Ultimate-ASI-Loader_x64.zip
  name: Ultimate-ASI-Loader_x64.zip
- path: bin\RE7Demo.InfiniteAmmo.zip
  name: RE7Demo.InfiniteAmmo.zip
- path: bin\x86\Release\scripts\MessageBox.asi
  name: MessageBox.asi
- path: bin\x86\Release\scripts\ExeUnprotect.asi
  name: ExeUnprotect.asi
deploy:
- provider: GitHub
  tag: v$(appveyor_build_version)
  release: Ultimate ASI Loader v$(appveyor_build_version)
  description: DESCRIPTION\n------------------------\nThis is a DLL file which adds ASI plugin loading functionality to any game, which uses any of the following libraries:\n* d3d8.dll\n* d3d9.dll\n* d3d11.dll\n* ddraw.dll\n* dinput.dll\n* dinput8.dll (x86 and x64)\n* dsound.dll (x86 and x64)\n* msacm32.dll\n* msvfw32.dll\n* version.dll (x86 and x64)\n* vorbisFile.dll\n* wininet.dll (x86 and x64)\n* winmm.dll (x86 and x64)\n* xlive.dll\n\n\nINSTALLATION\n------------------------\nIn order to install it, you just need to place DLL into game directory. Usually it works as dinput8.dll, but if it's not, there is a possibility to rename it(see the list of supported names above).
  auth_token:
    secure: ugbti+bXX/7zqu39OyiPxgRPd2pQn2FEV/12ABees2fHfpZob0tWXzqD/zSYmibJ
  artifact: Ultimate-ASI-Loader.zip, Ultimate-ASI-Loader_x64.zip